<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs')%>

<body>
<%- include('./partials/nav.ejs')%>
  <h1>Posts:</h1>
  <ul>
    <%if(posts.length){posts.forEach(post=> {%>
    <li>
      <article>
        <h2>
          <a href=<%`/posts/${post._id}`%>><% post.title %></a>
        </h2>
        <p><% post.text %></p>
        <div class="info">
          <span><% post.createdAt.toLocaleDateString() %></span>
          <span><% post.author %></span>
        </div>
      </article>
    </li>
    <%})}%>
  </ul>
</body>
</html>
